*,body{
    margin: 0; padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Playfair Display', serif;
}
body{
    overflow-x: hidden;
}
.main{
    width: 90%;
    margin: 2.2% auto;
}
.navbar{
    display: flex;
    align-items: center; justify-content: flex-start;
}
.navbar img{
    width:9%;
    margin-right:2%;
}
.headings h2{
    font-size: 4.4rem;
    font-weight: 700;
}
.headings h3{
    font-size: 1.7rem;
    font-weight: 400;
    color:rgba(0,0,0,0.7)
}
.banner{
    display: flex;
    align-items: center;
}
.content{
    width: 50%;
}
.content h1{
    font-size: 6rem;
}
.color{
    color: #1eabc4;
}
.content p{
    margin: 4% 0 6% 0;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
.content a{
    text-decoration: none;
    background-color: #ffffff;
    color: #1eabc4;
    font-family: 'Montserrat', sans-serif;
    padding:1.6% 4%;
    font-size: 1.7rem;
    border:.1rem solid #1eabc4;
    transition: all .3s;
}
.content a:hover{
    background-color: #1eabc4;
    color: white;
}
.banner img{
    width: 50%;
}
.connect{
    width: 10%;
    display: flex;
    align-items: center; justify-content: space-between;
}
a{
    color: black;
}
a:visited{
    color: black;
}
.social{
    font-size: 2.5rem;
}
.social-1:hover{
    color: #fbad50;
}
.social-2:hover{
    color: #0e76a8;
}
.social-3:hover{
    color: #FF0000;
}
footer{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: center;
}
@media (max-width:1200px){
    .banner{
        flex-direction: column-reverse;
    }
    .content{
        width: 70%;
        text-align: center;
        margin-bottom: 2%;
    }
    .connect{
        margin:2% auto;
        width: 18%;
    }
    .banner img{
        width: 66%;
    }
    form{
        text-align: center;
    }
}
@media (max-width:746px){
    .banner img{
        width: 70%;
    }
    .content{
        width: 80%;
        margin-bottom: 4%;
    }
    .connect{
        width: 25%;
    }
    .navbar img{
        width: 15%;
    }
    footer{
        margin-top: 5%;
    }
}
@media (max-width:653px){
    .banner img{
        width: 90%;
    }
    .content{
        width: 90%;
        margin-bottom: 6%;
    }
    .connect{
        width: 30%;
    }
    .navbar img{
        width: 18%;
    }
    .navbar h2{
        font-size: 4rem;
    }
    .headings h3{
        font-size: 1.4rem;
    }
}
@media (max-width:579px){
    .banner img{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .connect{
        width: 40%;
    }
}
@media (max-width:520px){
    .content h1{
        font-size: 5rem;
    }
    .content p{
        font-size: 1.4rem;
    }
}
@media (max-width:436px){
    .content h1{
        font-size: 4rem;
    }
    .content p{
        font-size: 1.4rem;
    }
}